/* body & imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  background-color: black;
  color: white;
}

/* about us section */
.aboutUsSection {
  display: flex;
  flex-direction: row;
}

.aboutInfo {
  width: 30%;
  padding-left: 2em;
}

.aboutInfo h2{
  font-size: 50px;
}

.aboutData {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.aboutUsBoxes {
  width: 45%;
  margin-bottom: 2em;
}

.aboutBox p {
  width: 80%;
}

.aboutBox h3 {
  font-size: 20px;
}

.aboutBox img {
  width: 80%;
  height: 450px;
}

.aboutBox img:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;

}

/* classes */
.classHeader{
  height: 220px;
  background-image: url('https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
	background-position: center ;
	background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
}

.classHeader h3 {
  font-size: 50px;
  padding-left: 1em;
}

.classData {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.classBoxes1 {
  margin-bottom: 1.5em;
  width: 30%;
}

.classBoxes2 img {
  width: 90%;
  height: 330px;
  cursor: pointer;
}

.classBoxes2 img:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.classBoxes2 h2 {
  font-size: 30px;
}

.classBoxes2 p {
  color: #B2BAB0;
}

.classes-button {
  color: #c5302e;
  border: none;
  background-color: black;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

/* modal for classes */
.classModalCard{
  border: 1px solid #c5302e;
  display: flex;
}

.classModalCard img{
  padding: 1em;
  width: 40%;
  height: 450px;
}

.classCard h2 {
  font-size: 25px;
}

.classCard button {
  color: #c5302e;
  border: 1px solid red;
  background-color: black;
  padding: 0.5em;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.classCard p {
  color: #B2BAB0;
  padding-right: 1em;
}

.classCard span{
  padding-right: 0.5em;
}

.popup-content {
  margin: auto;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.modal {
  background-color: black;
  color: white;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* icon section */
.iconSection {
  padding: 1.5em 0 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconSection h3 {
  font-size: 25px;
  color: #c5302e;
  border-bottom: 1px solid #c5302e;
}

.iconMap {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.iconCard {
  font-size: 18px;
  width: 30%;
  text-align: center;
}

.iconCard span {
  padding-top: 2em;
  font-size: 30px;
}

/* carousel reviews */
.carousel-wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 20px
}

.review  {
  text-align: center;
  background-color: red;
  color: white;
}

/* customer dashboard */
.menu-item {
  cursor: pointer;
}

.weekly-progress {
  width: 10%;
}